<section class="pt-lg-3">
  <div class="container">
    <div class="px-3 ps-xl-0 pe-lg-5 pe-xl-5 py-2 py-lg-4 order-md-1">
      <div class="row ms-md-auto me-sm-7 py-4 my-sm-0 py-md-6 py-lg-4">
        <div class="col-xl-8 col-lg-7">
          <h2 class="mt-0 mb-4 text-center text-md-start"><%= t("views.title.howitworks") %></h2>
          <div class="row text-center text-sm-start">
            <ul class="list-unstyled fs-sm">
              <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span class="h5"><%= t("views.label.howitworks1") %></span></li>
              <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span class="h5"><%= t("views.label.howitworks2") %></span></li>
              <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span class="h5"><%= t("views.label.howitworks3") %></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-secondary pt-lg-6">
  <div class="container">
    <div class="px-3 ps-xl-0 pe-lg-5 pe-xl-5 py-2 py-lg-3 order-md-1">
      <div class="row ms-md-auto me-sm-5 py-4 my-sm-0 py-md-3 py-lg-3">
        <div class="col-sm-5 mb-sm-4">
          <h2 class="mb-3 pb-1"><%= t("views.label.for_users") %></h2>
          <p><%= t("views.label.for_user1") %></p>
          <ul class="list-unstyled fs-sm">
            <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_user2") %></span></li>
            <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_user3") %></span></li>
            <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_user4") %></span></li>
            <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_user5") %></span></li>
            <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_user6") %></span></li>
            <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_user7") %></span></li>
          </ul>
        </div>
        <div class="col-sm-2 mb-sm-4"></div>
        <div class="col-sm-5 mb-sm-4">
          <h2 class="mt-0 mb-4 text-center text-md-start"><%= t("views.label.for_advertisers") %></h2>
          <div class="row text-center text-sm-start">
            <ul class="list-unstyled fs-sm">
              <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_ad1") %></span></li>
              <li class="d-flex align-items-center"><i class="ai-check-circle fs-lg me-2"></i><span><%= t("views.label.for_ad2") %></span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="pt-lg-6">
  <div class="container">
    <div class="px-3 ps-xl-0 pe-lg-5 pe-xl-5 py-2 py-lg-3 order-md-1">
      <div class="row ms-md-auto me-sm-5 py-4 my-sm-0 py-md-3 py-lg-3">
        <div class="col-sm-5 mb-sm-4">
          <h2 class="mt-0 mb-4 text-center text-md-start"><%= t("views.label.points_purpose") %></h2>
          <p class="fs-sm"><%= t("views.label.pp1") %></p>
        </div>
        <div class="col-sm-2 mb-sm-4"></div>
        <div class="col-sm-5 mb-sm-4">
          <h2 class="mt-0 mb-4 text-center text-md-start">CPTH Token</h2>
          <p class="fs-sm"><%= t("views.label.cpth1") %></p>
          <p class="fs-sm"><%= t("views.label.cpth2") %></p>
          <p class="fs-sm"><%= t("views.label.cpth3") %></p>
          <p class="fs-sm"><%= t("views.label.cpth4") %></p>
        </div>
      </div>
    </div>
  </div>
</section>