<section class="container-fluid px-0 pb-5 pb-md-6">
  <div class="row g-0 align-items-xl-center me-3">
    <div class="col-lg-6 col-md-7 text-end order-md-2 mt-3">
      <%= image_tag asset_url("background.png"), class: "d-inline-block" %>
    </div>
    <div class="col-lg-6 col-md-5 pt-5 pb-3 py-md-5">
      <div class="mx-auto me-md-5 me-xl-7 ps-3 py-md-3 order-md-1" style="max-width: 516px;">
        <h1 class="mb-grid-gutter pb-1"><%= t("views.label.learn_to_earn") %></h1>
        <p class="callout d-block d-md-none d-lg-block fs-lg text-muted mb-grid-gutter"><%= t("views.label.info_1") %></p>
        <div class="pt-2">
          <a class="btn btn-primary" href="/offers"><%= t("views.label.try") %> CryptoHunter</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="position-relative bg-secondary" style="height: 300px;">
</div>
<section class="container position-relative zindex-5 pt-5 pt-md-6" style="margin-top: -320px;">
  <div class="pb-md-4 text-center mb-5">
    <h2 class="text-darker mb-5"><%= t("views.label.for_advertiser") %></h2>
    <h3 class="text-darker fw-light mb-3"><%= t("views.label.advertiser_desc") %></h3>
  </div>
</section>
<section class="container py-5 py-md-6 py-lg-7 my-3">
  <div class="row align-items-center">
    <div class="col-lg-4 col-md-5 text-center text-md-start mb-5 mb-md-0">
      <h2 class="mb-3"><%= t("views.label.info_2") %></h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= t("views.label.info_3") %></li>
        <li class="list-group-item"><%= t("views.label.info_4") %></li>
        <li class="list-group-item"><%= t("views.label.info_5") %></li>
        <li class="list-group-item"><%= t("views.label.info_6") %></li>
        <li class="list-group-item"><%= t("views.label.info_7") %></li>
      </ul>
      <%= link_to t("views.action.start_project"), recommend_projects_path, class: 'btn btn-primary mt-5' %>
    </div>
    <div class="col-lg-8 col-md-7 bg-position-center bg-repeat-0" style="background-image: url(<%= asset_url("bg-shape.svg") %>);">
      <div class="mx-auto" style="max-width: 610px;">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
              <%= image_tag asset_url("screen_shot_1.png"), class: "d-inline-block mb-4 mt-2", width: "300" %>
            </div>
            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
              <%= image_tag asset_url("screen_shot_4.png"), class: "d-inline-block mb-4 mt-2", width: "300" %>
            </div>
            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
              <%= image_tag asset_url("screen_shot_5.png"), class: "d-inline-block mb-4 mt-2", width: "300" %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
              <%= image_tag asset_url("screen_shot_2.png"), class: "d-inline-block mb-4 mt-2", width: "300" %>
            </div>
            <div class="bg-light shadow-lg rounded-3 p-4 mb-grid-gutter text-center text-sm-start">
              <%= image_tag asset_url("screen_shot_3.png"), class: "d-inline-block mb-4 mt-2", width: "300" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>