<div id="offers">
  <h2>Offer Wall</h2>
  <div class="m-3 mt-5" id="task-list">
    <div id="coins-container">
      <table class="table">
        <thead>
          <th>ID</th>
          <th>任务状态</th>
          <th>任务名称</th>
          <th>任务内容</th>
          <th>剩余领取次数</th>
          <th>赏金</th>
          <th></th>
        </thead>
        <tbody>
          <% @offers.each do |offer| %>
            <tr class="offer" data-id="<%= offer.id %>">
              <td><%= offer.id %></td>
              <td><%= offer.status %></td>
              <td><%= offer.name %></td>
              <td data-bs-toggle="tooltip" title="<%= offer.desc %>"><%= truncate(offer.desc) %></td>
              <td><%= offer.count %></td>
              <td><%= offer.reward %></td>
              <td class="actions">
                <% if current_user %>
                  <%= link_to "领取任务", take_offer_path(offer), class: "btn btn-success", id: "takeBtn", method: :put if current_user.fetch_history(offer.id).nil? %>
                  <%= link_to "完成任务", "#", class: "btn btn-primary", id: "completeBtn", data: {id: offer.id} if current_user.fetch_history(offer.id)&.taken? %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>