<div id="offers">
  <div class="m-3 mt-5" id="task-list">
    <div id="coins-container">
      <div class="row">
        <% @offers.each do |offer| %>
          <div class="col-6 col-xs-6 col-md-4 col-lg-4 col-xl-3 mb-5">
            <div class="card" style="min-height:300px">
              <div class="card-header">
                <div class="card-title">
                  <%= image_tag offer.logo, width: "100px" if offer.logo %>
                  <span class="h-status text-right">
                    <h4><%= link_to offer.name, offer.website, target: "_blank" %></h4>
                    <% if current_user %>
                      <% result = current_user.fetch_history_status(offer.id) %>
                      <span class="text-<%= get_status_color(result[:id]) %>"><%= result[:text].upcase %></span>
                    <% end %>
                    <br />
                    <span><%= offer.display_num %></span>
                  </span>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text"><%= offer.desc %></p>
                <div class="actions">
                  <% if current_user %>
                    <% h = current_user.fetch_history(offer.id) %>
                    <%= link_to t("views.action.take"), take_offer_path(offer), class: "btn btn-success takeBtn", method: :put if h.nil? %>
                    <%= link_to t("views.action.complete"), "#", class: "btn btn-primary completeBtn", data: {id: offer.id, name: offer.name} if h && h.taken? %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="paginationBox p-4">
      <%= paginate @offers %>
    </div>
  </div>
</div>