<div id="projects">
  <div class="m-3 mt-5">
    <%= link_to "新增推荐项目", new_recommend_project_path, class: "btn btn-primary mb-5" if current_user %>
    <div id="coins-container">
      <div class="row" id="project-list">
        <% @projects.each do |project| %>
          <div class="col-6 col-xs-6 col-md-4 col-lg-4 col-xl-3 mb-5 project" data-id="<%= project.id %>">
            <div class="card" style="min-height:300px">
              <div class="card-header">
                <div class="card-title">
                  <h4><%= project.name %></h4>
                  <span class="likesCount"><%= project.likes_count %></span>
                  <% if current_user %>
                    <span class="likeBtn text-<%= check_project_liked(project.user_like_projects.pluck(:user_id)) ? "danger" : "secondary" %>" data-id="<%= project.id %>">
                      <%= thumb_up_icon %>
                    </span>
                  <% else %>
                    <% thumb_up_icon %>
                  <% end %>
                </div>
                <div class="tags">
                  <%= raw get_tags(project.tags) %>
                </div>
              </div>
              <div class="card-body">
                <p class="card-text"><%= truncate(strip_tags(project.desc.to_s), length: 80) { link_to "查看更多", recommend_project_path(project) } %></p>
                <div class="actions">
                  <%= link_to "去官网", project.website, class: "btn btn-warning", target: "_blank" %>
                  <% if current_user && project.user_id == current_user.id %>
                    <%= link_to "编辑", edit_recommend_project_path(project), class: "btn btn-success" %>
                    <%= link_to "删除", recommend_project_path(project), method: :delete, class: "btn btn-danger", data: { confirm: "确定要删除吗，删除后不可恢复?" } %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="paginationBox p-4">
      <%= paginate @projects %>
    </div>
  </div>
</div>